---
import { getLanguageFromURL } from "../../languages";
import { SIDEBAR } from "../../config";

type Props = {
    currentPage: string;
};

const base = Astro.site.pathname.replace(/\/$/gm, "") + "/";
const home = base + "en/introduction/";
const langCode = getLanguageFromURL(Astro.url + "");
const sidebar = SIDEBAR[langCode];
const isCurrentPage = (sidebarHref) => {
    if (sidebarHref) {
        sidebarHref = !sidebarHref.startsWith(base)
            ? base + sidebarHref
            : sidebarHref;
        const side = new URL(sidebarHref, Astro.url.origin);
        const curr = new URL(Astro.url.pathname, Astro.url.origin);
        if (side) {
            return side?.pathname === curr?.pathname;
        }
    }
    return false;
};
---

<nav aria-labelledby="grid-left">
    <ul class="nav-groups">
        <li class="nav-link mobile-only" style="margin-bottom:0.5em;">
            <a aria-current={isCurrentPage(base) ? "page" : false} href={home}
                >🏠 Home</a
            >
        </li>
        {
            Object.entries(sidebar).map(([header, children]) => (
                <li>
                    <details class="nav-group arrow" open title={header}>
                        <summary>
                            <h3 class="no-anchor">{header}</h3>
                        </summary>
                        <ul>
                            {children.map((child) => {
                                const startStr = Astro.site.pathname;
                                const url = !child.link
                                    ? ""
                                    : (child.link.startsWith(startStr)
                                          ? ""
                                          : startStr) + child.link;

                                if (child.link) {
                                    if (child.subheading) {
                                        return (
                                            <li class="nav-link">
                                                <a
                                                    href={url}
                                                    aria-current={
                                                        isCurrentPage(
                                                            child.link
                                                        )
                                                            ? "page"
                                                            : false
                                                    }
                                                >
                                                    <h4>{child.text}</h4>
                                                </a>
                                            </li>
                                        );
                                    } else {
                                        return (
                                            <li class="nav-link">
                                                <a
                                                    href={url}
                                                    aria-current={
                                                        isCurrentPage(
                                                            child.link
                                                        )
                                                            ? "page"
                                                            : false
                                                    }
                                                >
                                                    {child.text}
                                                </a>
                                            </li>
                                        );
                                    }
                                } else {
                                    return (
                                        <li class="nav-subsection">
                                            <h4 class="no-anchor">
                                                {child.text}
                                            </h4>
                                        </li>
                                    );
                                }
                            })}
                        </ul>
                    </details>
                </li>
            ))
        }
    </ul>
</nav>

<script is:inline>
window.addEventListener("DOMContentLoaded", () => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
        document.querySelector(".nav-groups").scrollTop = target.offsetTop;
    }
});
</script>

<style>
    nav {
        width: 100%;
        margin-right: 1rem;
        min-width: 12em;
    }

    li {
        line-height: normal;
    }
    h4 {
        margin-bottom: 0;
    }

    .nav-groups {
        height: 100%;
        padding: 2rem 0;
        overflow-x: visible;
        overflow-y: auto;
        max-height: 100vh;
    }

    .nav-groups > li + li {
        margin-top: 0.2 5rem;
    }

    .nav-groups > :first-child {
        padding-top: var(--doc-padding);
    }

    .nav-groups > :last-child {
        padding-bottom: 2rem;
        margin-bottom: var(--theme-navbar-height);
    }

    .nav-group {
        border-bottom: 1px solid var(--theme-bg-accent);
    }

    .nav-group-title {
        font-size: 1rem;
        font-weight: 700;
        padding: 0.1rem 1rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    .nav-link a {
        font-size: 1rem;
        margin: 0;
        padding: 0.5rem 1rem;
        font: inherit;
        color: inherit;
        text-decoration: none;
        display: block;
    }

    .nav-link a:hover,
    .nav-link a:focus {
        background-color: var(--theme-bg-hover);
    }

    .nav-link a[aria-current="page"] {
        color: var(--theme-text-accent);
        background-color: var(--theme-bg-accent);
        font-weight: 600;
    }

    .nav-link-active {
        background-color: var(--theme-bg-hover);
    }

    @media (min-width: 50em) {
        .nav-groups {
            padding: 0;
        }
    }
</style>

<style is:global>
    :root.theme-dark .nav-link a[aria-current="page"] {
        color: hsla(var(--color-base-white), 100%, 1);
    }
</style>
