---
import * as CONFIG from "../../config";
import ExtraLinks from "./ExtraLinks";

const community_url = CONFIG.COMMUNITY_INVITE_URL;
const url = Astro.url;
---

<details open class="arrow" title="Contribute">
<summary>
{community_url && <h2 class="heading no-anchor">Contribute</h2>}
</summary>
<ul>
	<li class={`header-link depth-2`}>
		<a href={community_url} target="_blank" title="View the code repository">
			<svg
				aria-hidden="true"
				focusable="false"
				data-prefix="fas"
				data-icon="comment-alt"
				class="svg-inline--fa fa-comment-alt fa-w-16"
				role="img"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				height="1em"
				width="1em"
			>
				<path
					fill="currentColor"
					d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z"
				></path>
			</svg>
			<span>Codeberg</span>
		</a>
	</li>
	<li class={`header-link depth-2`}>
		<a target="_blank" title="Raise an issue on Codeberg" href={`https://codeberg.org/aserg/shu-dev-process/issues/new?title=${encodeURIComponent("User issue")}&body=${encodeURIComponent(`**Page:** ${url}\n\n**Your Feedback:**`)}`}>
			<svg
				aria-hidden="true"
				focusable="false"
				data-prefix="fas"
				data-icon="comment-alt"
				class="svg-inline--fa fa-comment-alt fa-w-16"
				role="img"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				height="1em"
				width="1em"
			>
				<path
					fill="currentColor"
					d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z"
				></path>
			</svg>
			<span>Raise issue/feedback</span>
		</a>
	</li>
</ul>
</details>
<ExtraLinks/>