/********************************
* Theme defaults
*********************************/
:root {
  --font-default-fallback: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-default-mono: "IBM Plex Mono", Consolas, "Andale Mono WT",
    "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
    "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/********************************
* Google fonts
*********************************/

//Roboto, Poppins, and Noto Color Emoji
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Poppins:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");

/********************************
* Monospaced fonts
********************************/

@font-face {
  font-family: firaCode;
  src: url("/fonts/FiraCode-variableFont.ttf");
  src: local("Fira Code"), local("FiraCode"),
    url("/fonts/FiraCode-variableFont.ttf");
  font-display: swap;
}

/********************************
* Dyslexia fonts
********************************/

@font-face {
  font-family: OpenDyslexic;
  src: url("/fonts/OpenDyslexic-Regular.otf");
  src: local("OpenDyslexic"), url("/fonts/OpenDyslexic-Regular.otf");
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: OpenDyslexic;
  src: url("/fonts/OpenDyslexic-Regular.otf");
  src: local("OpenDyslexic"), url("/fonts/OpenDyslexic-Bold.otf");
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: OpenDyslexic;
  src: url("/fonts/OpenDyslexic-Italic.otf");
  src: local("OpenDyslexic"), url("/fonts/OpenDyslexic-Italic.otf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: OpenDyslexic;
  src: url("/fonts/OpenDyslexic-BoldItalic.otf");
  src: local("OpenDyslexic"), url("/fonts/OpenDyslexic-BoldItalic.otf");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: OpenDyslexicMono;
  src: url("/fonts/FiraCode-variableFont.otf");
  src: local("OpenDyslexicMono"), url("/fonts/OpenDyslexicMono-Regular.otf");
  font-display: swap;
}
