/********************************
* From MainLayout.astro
*********************************/

body {
    width: 100%;
    display: grid;
    grid-template-rows: var(--theme-navbar-height) 1fr;
    --gutter: 0.5rem;
    --doc-padding: 2rem;
}

.layout {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:
        minmax(var(--gutter), 1fr) minmax(0, var(--max-width)) minmax(var(--gutter), 1fr);
    overflow-x: hidden;
}

.grid-sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 0;
}

#grid-left {
    position: fixed;
    background-color: var(--theme-bg);
    z-index: 10;
    display: none;
}

#grid-main {
    min-width: 30vw;
    padding: var(--doc-padding) var(--gutter);
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#grid-right {
    display: none;
}

@media (min-width: 50em) {
    .layout {
        overflow: initial;
        grid-template-columns: 20rem minmax(0, var(--max-width));
        gap: 1em;
    }

    #grid-left {
        display: flex;
        padding-left: 2rem;
        position: sticky;
        grid-column: 1;
    }
}

@media (min-width: 72em) {
    .layout {
        grid-template-columns: 20rem minmax(0, var(--max-width)) 18rem;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }

    #grid-right {
        grid-column: 3;
        display: flex;
    }
}

.layout>* {
    width: 100%;
    height: 100%;
}

.mobile-sidebar-toggle {
    overflow: hidden;
}

.mobile-sidebar-toggle #grid-left {
    display: block;
    top: 2rem;
}