---
import SearchDialog from "@components/Search/SearchDialog.astro";
import SearchLayout from "@layouts/SearchLayout.astro";
import { KNOWN_LANGUAGES } from "@config";
Astro.response.status = 404;
Astro.response.statusText = "Page Not Found";
const base = Astro.site.pathname ?? "/";
// Use the page path as a default search term for this page,
// sanitised by replacing the base path and any optional language codes
const langCodes = Object.values(KNOWN_LANGUAGES);
const termRegex = new RegExp(
  `^(${base.replaceAll("/", "/")})(${langCodes.join("|")})?`,
  "gmi"
);
const searchTerm = Astro.url.pathname
  .replaceAll(termRegex, "")
  .replaceAll(/[^A-z0-9]+/gim, " ")
  .replace(/([A-Z])/g, " $1")
  .trim();
---

<SearchLayout title="404 - Page Not Found">
  <img
    src="/shu-dev-process/icons/404.png"  
    title="sad computer :("
    alt="a computer with a sad face on a pink background"
  />
  <big><p>This page is missing, was moved, or has a misspelt address.</p></big>
  <ul>
    <li><a href="/shu-dev-process/">Home</a></li>
    <li><a href="/shu-dev-process/search">Search</a></li>
  </ul>
  <h2>Try a search:</h2>
  <SearchDialog
    inline={true}
    pathBase={{ pathBase: base }}
    prefilledInput={searchTerm}
    prefill_path={true}
  />
  <script>
    plausible("404", { props: { path: document.location.pathname } });
  </script>
</SearchLayout>
