---
const base = (Astro.site.pathname ?? "/").replace(/\/$/,"");
---
<script is:inline define:vars={{base:base}}>
	// Redirect your homepage to the first page of documentation.
	// If you have a landing page, remove this script and add it here!

	window.location = (`${base}/en/introduction/`);
</script>
