---
// This page is intended only to appear for Google/Bing/etc search purposes
// https://developers.google.com/search/docs/appearance/structured-data/sitelinks-searchbox
import SearchDialog from "@components/Search/SearchDialog.astro";
import SearchLayout from "@layouts/SearchLayout.astro";
const base = Astro?.base ?? Astro.site.pathname ?? "/";
const title = "Search";
---

<SearchLayout title="Search">
	<SearchDialog inline={true} pathBase={{ pathBase: base }} />
</SearchLayout>
