---
const { base, build_str } = Astro.props;
---

<script is:inline define:vars={{ base }}>
  //initiating the service worker for caching
  // if ("serviceWorker" in navigator) {
  //   navigator.serviceWorker
  //     .register(base + "/service-worker.js", { scope: "/shu-dev-process/" })
  //     .then((reg) => {
  //       let serviceWorker = reg?.installing || reg?.waiting || reg?.active;
  //       if (serviceWorker) {
  //         serviceWorker.addEventListener("statechange", (e) => {
  //           if (serviceWorker.state == "redundant") {
  //             reg.unregister();
  //             console.log("service worker redundant. unregistered.");
  //           } else if (e.target.state == "activated") {
  //             console.log("service worker is", e.target.state);
  //           }
  //         });
  //       }
  //     });
  // }

  //if links aren't on the current domain, make sure they open with a _blank target in a new tab
  function ensureAnchorTarget(anchorEl) {
    if (!anchorEl?.target) {
      const host = window.location.host;
      const isRelative = anchorEl.href.toString().startsWith("/");
      const url = anchorEl.href
        ? new URL(`${isRelative ? host : ""}${anchorEl.href}`)
        : null;
      const isExternal = url != null && url.host != host;
      if (isExternal && !anchorEl.target) {
        anchorEl.target = "_blank";
      }
      anchorEl.rel = anchorEl?.rel ?? "noopener";
    }
  }
  document
    .querySelectorAll("a")
    .forEach((anchorEl) => ensureAnchorTarget(anchorEl));

  //remove filter controls if they aren't needed
  if (!document.querySelectorAll("*[data-adf-section]").length) {
    try{
    document.getElementById("filter-control-container").remove();
    }catch(e){}
  }
</script>
