---
const privacyHref = `/en/site/#privacy`;
const base = Astro.site.pathname.replace(/\/$/gm, "");
const build_str =
  Object.values(Astro?.props?.build_str ?? {}).join("") ?? "unknown";
const cookieValue = "build-" + build_str;
const fullURL = base + privacyHref;
---

<div
  id="privacy-banner"
  class="no-print"
  style="display:none;"
  role="region"
  aria-label="Priavy Consent Banner"
>
  <script is:inline data-privacy-version={cookieValue}>
    const cookieName = "privacy-accepted";
    let cookieValue = () => (document.currentScript??document.querySelector("script[data-privacy-version]"))?.dataset?.privacyVersion ?? "0";

    function setPrivacyBannerDisplay() {
      const el = document.getElementById("privacy-banner");
      const storedValue = localStorage.getItem(cookieName);
      const displayValue = storedValue == cookieValue() ? "none" : "initial";
      el.style.display = displayValue;
    }
    function recordPrivacyAcceptance() {
      localStorage.setItem(cookieName, cookieValue());
      setPrivacyBannerDisplay();
    }
    window.addEventListener("load", setPrivacyBannerDisplay);
  </script>
  <p>
    🍪 This site uses cookies to provide required functionality and anonymously
    track traffic. <a onclick="recordPrivacyAcceptance()" href={fullURL}
      >Privacy</a
    >.
  </p>
  <button onclick="recordPrivacyAcceptance()">Dismiss</button>
</div>
