---
const { base, build_str } = Astro.props;
---

<!-- This is intentionally inlined to avoid FOUC -->
<script
  is:inline
  defer
  data-domain="aserg.codeberg.page/shu-dev-process"
  src="https://plausible.kaduardo.me/js/plausible.hash.exclusions.outbound-links.js"
  data-exclude="/*/@pages-develop,/*/@pages-develop/*"
></script>
<script is:inline>
  //initiating plausible anonymous analytics
  window.plausible =
    window.plausible ||
    function () {
      (window.plausible.q = window.plausible.q || []).push(arguments);
    };

  //record an event if this page load came from a search result
  const fromSearchTerm = new URL(window.location).searchParams.get("fromSearch") ?? "";
  if (fromSearchTerm) {
    plausible("SearchResultNavigation", {
      props: { term: fromSearchTerm, href: window.location + "" },
    });
    window.location.search ="";
  }

  const root = document.documentElement;
  const theme = localStorage.getItem("theme");
  if (
    theme === "dark" ||
    (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    root.classList.add("theme-dark");
  } else {
    root.classList.remove("theme-dark");
  }

  const getShareData = (anchorEl) => {
    let headingText = anchorEl.parentElement.textContent.trim();
    let anchorTitle = document.title.startsWith(headingText)
      ? document.title
      : `${headingText} | ${document.title}`;
    return {
      title: anchorTitle,
      text:
        document.querySelector('meta[name="description"]')?.content ??
        anchorTitle,
      url: anchorEl.href ?? "" + window.location.host,
    };
  };

  const copyToClipboard = (anchorEl) => {
    let url = anchorEl.href;
    //fill the input field so that it can be selected
    let copyInput = document.getElementById("clipboardcopyinput");
    copyInput.contentEditable = true;
    copyInput.value = url;
    copyInput.select();
    copyInput.setSelectionRange(0, 99999); //for mobile devices
    /* Copy the text inside the text field */
    navigator.clipboard.writeText(copyInput?.value ?? url);
    //add a class to say that it was copied
    //remove that class after a timeout
    anchorEl.parentElement.classList.add("copied-text");
    setTimeout(() => {
      anchorEl.parentElement.classList.remove("copied-text");
    }, 750);
  };

  const shareAnchorToOS = (anchorEl) => {
    if (navigator.share) {
      let shareData = getShareData(anchorEl);
      if (navigator.canShare(shareData)) {
        //trigger the OS share panel/sheet
        navigator.share(shareData).then(() => {
          //add a class to say that it was shared
          //remove that class after a timeout
          anchorEl.parentElement.classList.add("shared-text");
          setTimeout(() => {
            anchorEl.parentElement.classList.remove("shared-text");
          }, 750);
        });
      } else {
        throw new Error("navigator cannot share this");
      }
    } else {
      throw new Error("navigator cannot share anything. are you using HTTPS?");
    }
  };

  const tryShare = (evt) => {
    evt.preventDefault();
    //traverse the DOM until a link is found
    let el = evt.target;
    while (!el?.href) {
      el = el.parentElement;
    }
    try {
      shareAnchorToOS(el);
      // something went wrong with the share API, or it wasn't available
      // so copy the link instead. Note: sharing only works over HTTPS
    } catch (e) {
      copyToClipboard(el);
    }
  };

  //add event listeners to heading links
  window.addEventListener("load", (evt) => {
    let hiddenInput = document.createElement("input");
    hiddenInput.style.display = "none";
    hiddenInput.id = "clipboardcopyinput";
    document.body.appendChild(hiddenInput);
    document.querySelectorAll("a.heading-anchor .after").forEach((el) => {
      let shareData = getShareData(el.parentElement);
      let canShare = "share" in navigator && navigator.canShare(shareData);
      el.classList.add(
        canShare ? "heading-anchor-share" : "heading-anchor-copy"
      );
      el.title = canShare ? "Share" : "Copy";
      el.addEventListener("click", (evt) => {
        tryShare(evt);
      });
    });
  });
</script>
