---
const { inline, pathBase } = Astro.props;
const is_inline = inline ? true : false;
---

{
    !is_inline && (
        <dialog class="search-dialog" title="Search">
            <slot />
            <small class="desktop-only"><i> Press <kbd>Esc</kbd> to close.</i></small>
        </dialog>
    )
}
{
    is_inline && (
        <div class="search-dialog" title="Search">
            <slot />
        </div>
    )
}
