---
// this layout is similar to MainLayout, but doesn't require frontmatter to render
import HeadCommon from "../components/HeadCommon.astro";
import BodyScripts from "../components/BodyScripts.astro";
import Header from "../components/Header/Header.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar/RightSidebar.astro";
import MoreMenu from "../components/RightSidebar/MoreMenu.astro";
import * as CONFIG from "../config";
import Footer from "../components/Footer/Footer.astro";
import CookieBanner from "../components/CookieBanner.astro";

const { title } = Astro.props;
const currentPage = Astro.url.pathname;
const contributeUrl = CONFIG.COMMUNITY_INVITE_URL;
const base = Astro.site.pathname.replace(/\/$/gm, "") + "";
const build_str = CONFIG.BUILD_STR;
const siteTitle = CONFIG?.SITE?.title;
const pageTitle = `${title || "Search"}${siteTitle ? ` | ${siteTitle}` : ""}`;
---

<html dir={"ltr"} lang={"en-us"} class="initial">
  <head>
    <HeadCommon title={pageTitle} />
  </head>

  <body>
    <Header currentPage={currentPage} />
    <main class="layout">
      <aside id="grid-left" class="grid-sidebar" title="Site Navigation">
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <div id="grid-main">
        <article id="article" class="content">
          <section class="main-section">
            <h1>{title}</h1>
            <slot />
            <nav class="block sm:hidden no-print">
              <MoreMenu editHref={contributeUrl} class="no-print" />
            </nav>
          </section>
          <aside id="grid-right" class="grid-sidebar" title="Table of Contents">
            <RightSidebar />
          </aside>
        </article>
        <Footer />
        <CookieBanner />
        <BodyScripts base={base} build_str={build_str} />
      </div>
    </main>
    <style>
      .content {
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .content > section {
        margin-bottom: 0;
      }

      .block {
        display: block;
      }

      @media (min-width: 72em) {
        .sm\:hidden {
          display: none;
        }
      }
    </style>
  </body>
</html>
